.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 20px;
  box-sizing: border-box;
}

.controls-wrapper {
  display: flex;
  gap: 10px;
  background: white;
  padding: 8px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.btn-switch {
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-family: 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #64748b;
  background-color: transparent;
}

.btn-switch:hover {
  background-color: #f1f5f9;
}

/* Estado activo para Ahorros */
.btn-switch.active-saving {
  background-color: #f59e0b;
  color: white;
  box-shadow: 0 4px 12px rgba(245, 158, 11, 0.3);
}

/* Estado activo para Corriente */
.btn-switch.active-current {
  background-color: #0284c7;
  color: white;
  box-shadow: 0 4px 12px rgba(2, 132, 199, 0.3);
}

.btn-switch:active {
  transform: scale(0.95);
}

/* Contenedor de las acciones (Depositar, Retirar, Transferir) */
.actions-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.btn-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background: white;
  border: none;
  padding: 12px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  min-width: 90px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.btn-view-history:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.btn-action:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.btn-action:active {
  transform: scale(0.95);
}

/* Colores específicos */
.btn-action.deposit { color: #22c55e; }
.btn-action.withdraw { color: #ef4444; }
.btn-action.transfer { color: #a855f7; }

.btn-action span {
  color: #475569;
}

/* Botón de crear cuenta */
.btn-create-account {
  width: 100%;
  max-width: 380px;
  aspect-ratio: 1.6 / 1;
  border-radius: 18px;
  border: 2px dashed #d1d5db;
  background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', sans-serif;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  overflow: hidden;
}

.btn-create-account::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  pointer-events: none;
}

.btn-create-account:hover {
  border-color: #9ca3af;
  background: linear-gradient(135deg, #f9fafb, #f3f4f6);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.btn-create-account:active {
  transform: scale(0.98);
}

.btn-delete-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-family: 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
  color: white;
  background-color: #c72002;
}

.btn-delete-account-disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;;
  margin-top: 12px;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  font-family: 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;
  color: white;
  background-color: #655a58;
}

.btn-delete-account:hover {
  background-color: #ef4444;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(239, 68, 68, 0.3);
}

.btn-delete-account-disabled:hover {
  background-color: #7f7a7a;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(239, 68, 68, 0.3);
}

.create-account-text {
  font-size: 18px;
  font-weight: 600;
  color: #4b5563;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 20px;
}

.loading-text {
  font-size: 16px;
  color: #64748b;
  text-align: center;
  padding: 40px 20px;
}